.collection {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 120px;
}

.collection-container {
  width: 1197px;
  color: white;
}

.collection-header {
  text-align: center;
  margin-bottom: 40px;
}

.collection-header h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 12px;
}

.collection-header p {
  font-size: 16px;
  color: #999999;
  letter-spacing: 0.5px;
}
.collection-tabs {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  box-sizing: border-box;
}

.colleaction-button {
  flex: 1;
  padding: 14px 24px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.08);
  color: white;
  transition: all 0.3s ease;
}

.colleaction-button:hover {
  background: linear-gradient(90deg, #8f00ff, #d600ff);
  transform: scale(1.05);
}

.colleaction-button.active {
  background: linear-gradient(90deg, #8f00ff, #d600ff);
  color: #fff;
  box-shadow: 0 6px 20px rgba(143, 0, 255, 0.18);
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.06);
  border-radius: 16px;
  padding: 16px;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
  background: rgb(173, 165, 165);
  border: 1px solid rgba(143, 0, 255, 0.35);
}

.card img {
  width: 100%;
  height: 337px;
  object-fit: cover;
  border-radius: 12px;
}

.card-info {
  margin-top: 16px;
}

.user {
  font-size: 14px;
  color: #dcd6e8;
  display: block;
  margin-bottom: 8px;
}

.card-row {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 16px;
}

.card-row h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.bid {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
}

.bid small {
  display: block;
  font-size: 12px;
  color: #d0cbe0;
  margin-bottom: 4px;
  font-weight: 500;
}

.bid-btn {
  width: 100%;
  padding: 12px 0;
  border-radius: 8px;
  border: 2px solid #8f00ff;
  background: transparent;
  background: linear-gradient(90deg, #8f00ff, #d600ff);
  color: #d600ff;
  cursor: pointer;
  color: white;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.bid-btn:hover {
  background: transparent;
  color: #d600ff;
  border-color: #d600ff;
}
