.navbar {
  width: 100%;
}

.navbar-section {
  margin: 10px auto 0;
  width: 100%;
  max-width: 1197px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  padding: 0 20px;
  box-sizing: border-box;
}

.logo {
  width: 133px;
  height: 38px;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  line-height: 100%;
  display: flex;
  align-items: center;
  margin:0;
}

.logo span {
  color: #b100ff;
}

.search {
  margin-left: 24px;
  width: 360px;
  height: 36px;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 14px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.18);
}

.search-icon {
  font-size: 16px;
  color: #cfcfcf;
  font-weight: bold;
}

.search input {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 16px;
}

.search input::placeholder {
  color: #cfcfcf;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.nav-link + .nav-link {
  margin-left: 22px;
}

.wallet-btn {
  margin-left: 22px;
  height: 36px;
  padding: 0 18px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg, #8f00ff, #d600ff);
  color: white;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s
}
.wallet-btn:hover {
  transform: scale(1.05);
}