
.NFT-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.NFT-box {
  width: 100%;
  max-width: 1200px;
  height: 320px;
  background: linear-gradient(180deg, #b100ff, #7a00ff);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.NFT-box h2 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 24px;
}

.NFT-btn {
  padding: 12px 28px;
  border-radius: 10px;
  border: none;
  background: #d89bff;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.NFT-btn:hover {
   transform: scale(1.05);
}